SDE_ENV=local
SDE_DATABASE_HOST=localhost
SDE_DATABASE_PORT=5432
SDE_DATABASE_NAME=doctrine
SDE_DATABASE_USER=postgres
SDE_DATABASE_PASSWORD=postgres
SDE_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/doctrine
SDE_REDIS_URL=redis://localhost:6379/0
SDE_LOG_LEVEL=INFO
